build/
utils/certs/broker.conf
utils/certs/broker.crt
utils/certs/broker.csr
utils/certs/broker.key
utils/certs/ca.conf
utils/certs/ca.crt
utils/certs/ca.key
utils/certs/ca.srl
utils/certs/client.conf
utils/certs/client.crt
utils/certs/client.csr
utils/certs/client.key
utils/certs/client_home_assistant.conf
utils/certs/client_home_assistant.crt
utils/certs/client_home_assistant.csr
utils/certs/client_home_assistant.key
utils/home_assistant/docker
utils/home_assistant/secrets.yaml
main/certs/
sdkconfig.old
tags*